- content_for :page_javascript do
  = javascript_include_tag :group_form

= form_for @group, url: url, html: { role: 'form' } do |f|
  = render 'error', errors: @group.errors

  .form-group
    = f.label :iqube_url, 'iQube URL'
    = f.text_field :iqube_url, class: 'form-control', placeholder: 'https://app.iqube.net/schedules/xxxxxxx'

  %h2 グループのメンバー
  %script#group_users_json{ type: 'application/json' }
    = raw render partial: 'user_groups/index.json.jbuilder', locals: { user_groups: @group.user_groups }
  %table.table.table-hover.table-bordered#group_users{ data: { 'leader-id' => @group.leader_id } }
    %tr
      %th
      %th 部署
      %th リーダー
      - @event.questions.each do |question|
        %th= question
    %tr.template
      %td
        %button{ type: :button, class: 'action btn btn-danger btn-xs' }
          %i.glyphicon.glyphicon-minus
        %input{ type: :hidden, name: 'group[member_ids][]', class: :data_id }
        %span.user_name
      %td.user_post
      %td= f.radio_button :leader_id, nil, class: :leader_id, checked: nil
      - @event.questions.size.times do |n|
        %td{ class: "answer-#{n}" }

  = render layout: 'alert', locals: { type: :warning } do
    %i.glyphicon.glyphicon-exclamation-sign
    SGWの人はリーダーにしないようにしてください

  %h2 未割り当てユーザ
  %script#unassigned_users_json{ type: 'application/json' }
    = raw render partial: 'user_groups/index.json.jbuilder', locals: { user_groups: @event.unassigned }
  %table.table.table-hover.table-bordered#unassigned_users
    %tr
      %th
      %th 部署
      - @event.questions.each do |question|
        %th= question
    %tr.template
      %td
        %button{ type: :button, class: 'action btn btn-success btn-xs' }
          %i.glyphicon.glyphicon-plus
        %span.user_name
      %td.user_post
      - @event.questions.size.times do |n|
        %td{ class: "answer-#{n}" }

  .actions
    = f.submit '保存', class: 'btn btn-lg btn-success'
