- content_for :page_javascript do
  = javascript_include_tag :enquete_before_form

%h2
  = @event.title
  参加アンケート

= form_for @reply, url: :enquete_before, html: { role: :form } do |f|
  - if @reply.errors.any?
    #error_explanation
      %h3= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @reply.errors.full_messages.each do |msg|
          %li= msg

  = fields_for @reply.user do |user|
    .form-group
      %h3 部署を選択してください
      = user.select :post_id, User::post_options, {}, class: 'form-control'
    .form-group
      %h3 Skype ID を入力してください(任意)
      = user.text_field :skype_id, class: 'form-control'
  .form-group.is_participant
    %h3 今回の かまめしランチ に参加しますか？
    = f.hidden_field :is_participant
    .btn-group.btn-group-lg
      %button.btn.btn-default{ type: :button, data: { value: 1 } } 参加する
      %button.btn.btn-default{ type: :button, data: { value: 0 } } 参加しない

  - if @event.questions.count > 0
    %h3 いくつかの質問にご回答ください
    %ul
      %li 回答は必須ではありません
      %li メンバー決めの参考にさせていただきます
      %li 回答内容は運営チーム以外には見えることはありません
    - @event.questions.each_with_index do |question, i|
      .form-group
        %h4= question
        = f.text_field :answers, name: "user_group[answers][]", id: nil, class: 'form-control', value: @reply.answers[i]

  .form-group.actions
    = f.submit '回答を送信', class: 'btn btn-lg btn-primary'
