- if @event.present?
  %h2= @event.title
  - if @reply.present?

    - if @event.inviting?
      -# 回答受付中
      %p
        あなたは今回の かまめしランチ に 「
        %strong= @reply.is_participant ? '参加する' : '参加しない'
        」 と回答しています。
      - if @reply.is_participant
        %p メンバーが決まり次第お知らせしますので、しばらくお待ちください。
      .actions
        = link_to '回答を変更する', :enquete_before, class: 'btn btn-success'
        %span.text-muted
          回答は
          = @event.closed_at
          まで変更できます

    - else
      -# 回答受付終了後

      - if @reply.is_participant
        -# 「参加する」を選択した場合

        - if @reply.group.nil?
          -# 振り分け前
          %p メンバーはまだ決まっていません。
          %p 決まり次第お知らせしますので、しばらくお待ちください。

        - else
          -# 振り分け後
          %p 今回のランチはこのメンバーです！
          %table.table
            %tr
              %th 名前
              %th 部署
              - if @reply.leader?
                %th メールアドレス
                %th Skype ID
            - @reply.group.user_groups.each do |user_group|
              %tr
                %td
                  = user_group.user.name
                  - if user_group.leader?
                    .label.label-success リーダー
                %td= user_group.user.post
                - if @reply.leader?
                  %td= user_group.user.email
                  %td= user_group.user.skype_id

          - if @reply.group.iqube_url.present?
            %h3 iQube Schedule
            %p= link_to @reply.group.iqube_url, @reply.group.iqube_url, target: '_blank'
            %p
              運営チームで仮の予定をiQubeに入れさせていただきました。
              リーダーを中心にメンバー内で相談してスケジュール調整をしてください。
            %p
              ※ 経費精算の都合上、日程を変更する場合は月をまたがないようにお願いします。

          - if @reply.leader?
            %h2 あなたはリーダーです！
            %p かまめしランチを円滑に実施するために、チームリーダーになった方にはいくつかご協力頂きたいことがあります。
            %p
              詳しくは
              = link_to 'Q&A: リーダーにやって頂きたいこと', qa_path(anchor: 'leader')
              をご覧ください。

      - else
        -# 「参加しない」を選択した場合
        %p あなたは今回の かまめしランチ に参加しませんでした。
        %p 次回はぜひご参加ください。

  - else
    -# 回答しないまま受付終了した場合
    %p あなたは今回の かまめしランチ に参加しませんでした。
    %p 次回はぜひご参加ください。

- else
  .alert.alert-info{ role: 'alert' } 現在かまめしランチは開催されていません

= render 'inquiry'
