- if @event.present?
  %h2= @event.title
  - if @reply.present?

    - if @event.inviting?
      -# 回答受付中
      %p
        あなたは今回の かまめしランチ に 「
        %strong= @reply.is_participant ? '参加する' : '参加しない'
        」 と回答しています。
      - if @reply.is_participant
        %p メンバーが決まり次第お知らせしますので、しばらくお待ちください。
      .actions
        = link_to '回答を変更する', :participate, class: 'btn btn-success'
        %span.text-muted
          回答は
          = @event.ended_at.strftime '%m/%d(%a)'
          まで変更できます

    - else
      -# 回答受付終了後

      - if @reply.is_participant
        -# 「参加する」を選択した場合

        - if @reply.group.nil?
          -# 振り分け前
          %p メンバーはまだ決まっていません。
          %p 決まり次第お知らせしますので、しばらくお待ちください。

        - else
          -# 振り分け後
          %p 今回のランチはこのメンバーです！
          %table.table
            - @reply.group.user_groups.each do |user_group|
              %tr
                %td
                  = user_group.user.name
                  - if user_group.leader?
                    .label.label-success リーダー
          -# TODO 説明
          - if @reply.leader?
            %h2 あなたはリーダーです！
            %p 日程調整の仕方は〜〜〜
            %p 経費精算の仕方は〜〜〜
          %h2 かまめしランチ とは
          %p せつめいなどなど

      - else
        -# 「参加しない」を選択した場合
        %p あなたは今回の かまめしランチ に参加しませんでした。
        %p 次回はぜひご参加ください。

  - else
    -# 回答しないまま受付終了した場合
    %p あなたは今回の かまめしランチ に参加しませんでした。
    %p 次回はぜひご参加ください。

- else
  .alert.alert-info{ role: 'alert' } 現在かまめしランチは開催されていません
