%h1 Q&A

-# Index
%ul
  %li= link_to 'かまめしランチ とは', '#about'
  %li= link_to 'リーダーにやってほしいこと', '#leader'
  %li
    = link_to '経費精算のしかた', '#expenses'
    %ul
      %li= link_to '経費精算シート(紙)', '#expenses-paper'
      %li= link_to '楽々精算(Web)', '#expenses-web'

  %li= link_to 'その他のお問い合わせ', '#inquiry'


%h2#about かまめしランチ とは

%h3 概要
%p
  かまめしランチは
  %strong「普段関わりのない社員同士の交流」
  を目的とした社内サービスです。
%p
  参加表明をした社員同士で3,4人のチームがマッチングされ、そのメンバーでランチに行っていただきます。
  またその際、１人あたり1000円までのランチ代補助が出ます。

%h3 対象
%p
  この企画への参加対象につきましては、本企画予算の都合上、
  %strong 正社員・契約社員・派遣社員・業務委託・インターン
  の方で参加表明をして頂いた方のみとさせていただきます。
  ご理解いただけますと幸いです。
%p
  また、アルバイトの方でも
%ul
  %li 上長の承認
  %li 参加理由 (これから中長期的に事業に関わって欲しいなど)
%p
  があれば参加することが可能です。

%h2#leader リーダーにやってほしいこと
-# TODO
(準備中)

%h2#expenses 経費精算のしかた
%p
  チームリーダーの方は、当日ランチ代をまとめてお支払い頂き、
  %strong 「経費精算シート(紙)」または「楽々精算(Web)」のいずれかの方法
  にてランチ代の精算を行なってください。
%p
  ※ いずれの精算方法の場合でも、支払いの際に
  %strong レシートを必ず貰う
  ようにしてください。

%h3#expenses-paper 経費精算シート(紙)
%p
  = link_to 'GaiaX Intranet : 各種申請用紙', 'https://i.internal.gaiax.com/intra/?s2=finance&s3=accounting&s4=application', target: '_blank'
  から
  %code 経費精算シート.xls
  をダウンロードし、
  %code 立替金
  のシートに必要事項を記入してください。

%dl.dl-horizontal
  %dt 【所属部署】
  %dd 提出者の部署を記入
  %dt 【社員番号】
  %dd 提出者の社員番号を記入
  %dt 【提出者】
  %dd 提出者の氏名を記入
  %dt 【支払日】
  %dd かまめしランチに行った日付を記入
  %dt 【目的】
  %dd 参加人数と参加者名を記入
  %dd
    %samp
      例)
      %code 4人 (石川・田嶋・長南・細川)
  %dt 【金額】
  %dd 合計金額を記入（1,000円/1人まで） 
  %dt 【部長印】
  %dd
    %code 野澤さん
    にハンコを貰ってください

%p
  印刷し、
  %strong レシートを貼付けて
  提出してください。 

%h3#expenses-web 楽々精算(Web)
%dl.dl-horizontal
  %dt 【部門】
  %dd
    %code ＊他部署負担＊(99)
    を選択
  %dt 【経費精算】
  %dd
    %code 経費精算
    をクリック
  %dt 【日付】
  %dd かまめしランチに行った日付を記入 
  %dt 【科目】
  %dd
    %code 100 かまめしランチ(福利厚生費)
    を選択 
  %dt 【内容】
  %dd 参加人数と参加者名を記入
  %dd
    %samp
      例)
      %code 4人 (石川・田嶋・長南・細川)
  %dt 【金額】
  %dd 合計金額を記入（1,000円/1人まで） 
  %dt 【承認者】
  %dd
    画面右上の虫眼鏡アイコンから
    %code 野澤さん
    を選択 

%p
  印刷し、
  %strong レシートを貼付けて
  提出してください。 

%h2#inquiry その他のお問い合わせ
%p ご質問は下記の連絡先までお願いします。
%ul
  %li
    石川雄基：
    = mail_to 'yuuki.ishikawa@gaiax.com', nil, encode: :hex
  %li
    田嶋勝利：
    = mail_to 'katsutoshi.tajima@gaiax.com', nil, encode: :hex
