%h1
  = @event.title
  %small
    = link_to edit_event_path(@event), title: 'イベントを編集' do
      %i.glyphicon.glyphicon-pencil

%dl.dl-horizontal
  %dt アンケート項目
  - @event.questions.each do |question|
    %dd= question
  %dt 募集期間
  %dd
    = @event.started_at
    〜
    = @event.ended_at

%h2 グループ一覧
- if @event.groups.present?
  - @event.groups.each do |group|
    %h3
      グループ
      = group.id
      %small
        = link_to edit_group_path(group, event_id: @event.id), title: 'グループを編集' do
          %i.glyphicon.glyphicon-pencil
        - if group.iqube_url.present?
          = link_to group.iqube_url, title: 'スケジュール詳細', target: '_blank' do
            %i.glyphicon.glyphicon-calendar
    = render 'user_groups', user_groups: group.user_groups
- else
  .alert.alert-info{ role: 'alert' } まだグループがありません

.actions
  = link_to new_group_path(event_id: @event.id), class: 'btn btn-success' do
    %i.glyphicon.glyphicon-plus
    新しいグループを作成

%h2 参加(未振り分け)
- if @event.unassigned.present?
  = render 'user_groups', user_groups: @event.unassigned
- else
  .alert.alert-info{ role: 'alert' } 未振り分けの参加者はいません

%h2 不参加
- if @event.nonparticipant.present?
  = render 'user_groups', user_groups: @event.nonparticipant
- else
  .alert.alert-info{ role: 'alert' } 不参加のユーザはいません
